/* You can add global styles to this file, and also import other style files */
.center{
    text-align: center;
    vertical-align: center;   
    display:flex;
    margin-left: auto;
    margin-right: auto;
}
.form-field{
    display:block;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
}
.title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
}
.form{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}
.submit-btn{
    height: 40px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}